.info-container {
  min-height: 100vh;
  background: #a8ff78; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #78ffd6,
    #a8ff78
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #78ffd6,
    #a8ff78
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 20px 10px;
  text-align: center;
}
.info-container h1 {
  margin: -5px 0 20px 0;
  text-align: center;
  font-family: "Raleway-extrabold";
  color: #232b38;
  letter-spacing: 2px;
  font-size: 2.5rem;
  margin-bottom: 0.75rem;
}
